@import "tailwindcss";

@keyframes scroll-left {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll-left 10s linear infinite;
}


.animate-scroll:hover {
  animation-play-state: paused;
}

